@model CP2496H07Group1.Models.Account

<section class="page-title">
    <div class="bg-layer" style="background-image: url('@Url.Content("~/images/background/page-title.jpg")');"></div>
    <div class="pattern-layer" style="background-image: url('@Url.Content("~/images/shape/shape-32.png")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Card Details</h1>
            <ul class="bread-crumb clearfix">
            </ul>
        </div>
    </div>
</section>


<section class="card-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="cards-sidebar pt_110 pb_120">
                    <div class="category-widget mb_30">
                        <div class="widget-title">
                            <h3>Card Types</h3>
                        </div>
                        <ul class="category-list clearfix">
                            <li><a href="card-details.html" class="current">Platinum Card</a></li>
                            <li><a href="card-details-2.html">Millinnia Card</a></li>
                            <li><a href="card-details-3.html">Money Back Card</a></li>
                            <li><a href="card-details-4.html">Easy EMI Card</a></li>
                            <li><a href="card-details-5.html">Dinners Club Privilege</a></li>
                            <li><a href="card-details-6.html">Titanium Times</a></li>
                        </ul>
                    </div>
                    <div class="contact-widget">
                        <div class="inner-box" style="background-image: url(images/resource/sidebar-1.jpg);">
                            <h3>Now, Get Your Credit Card Online</h3>
                            <span class="text">Approve with in 24 Hrs.</span>
                            <a href="contact.html" class="theme-btn"><span>Apply Here</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="card-details-content pt_110 pb_120">
                    <div class="content-one">
                        <div class="text-box mb_45">
                            <h6>Details</h6>
                            <h2>@Model.AccountType</h2>
                            <p>Fail in their duty through weakness of will which is the same as saying through shrinking
                                from toil and pain cases are perfectly simple and easy to distinguish. In a free hour,
                                when our power of the claims off duty or the obligations business.</p>
                            <p>Through weakness of will which is the same as saying through shrinking from toil and pain
                                cases are perfectly simple and easy to distinguish in a free hour.</p>
                        </div>
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image"><img src="~/images/resource/card-6.jpg" alt=""></figure>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image"><img src="~/images/resource/card-7.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-two mb_10">
                        <div class="text-box mb_35">
                            <h2>Features</h2>
                            <p>Through weakness of will which is the same as saying through shrinking from to and pain
                                cases are perfectly simple and easy to distinguish in a free hour.</p>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>Welcome Bonus</h3>
                                    <p>Holds these matters principles selection right some rejects.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>Accelerated Rewards</h3>
                                    <p>Business will frequently occur that pleasure have to be repudiated.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>Fuel Surcharge Waiver</h3>
                                    <p>The wise man therefore always holds these principle of selection.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>Low Interest Rates</h3>
                                    <p>Holds these matters principles selection right some rejects.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>Cashback Offers</h3>
                                    <p>Business will frequently occur that pleasure have to be repudiated.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="~/images/icons/icon-195.png" alt=""></div>
                                    <h3>24/7 Support</h3>
                                    <p>The wise man therefore always holds these principle of selection.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-three mb_30">
                        <div class="text-box mb_30">
                            <h2>Exciting Offers for You</h2>
                            <p>Toil and pain cases are perfectly simple and easy to distinguish a free hour.</p>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 deals-block">
                                <div class="deals-block-one">
                                    <div class="inner-box">
                                        <div class="title-box">
                                            <div class="icon-box"><img src="~/images/icons/icon-74.png" alt="">
                                            </div>
                                            <span class="category">Medical</span>
                                            <p>Expire On: 25th Oct’24</p>
                                        </div>
                                        <h3>Get 10% cashback on trust care medical.</h3>
                                        <div class="lower-box">
                                            <div class="link-box"><a href="index-2.html"><i
                                                        class="flaticon-right-arrow"></i>Read More</a></div>
                                            <div class="share-box">
                                                <div class="share-text"><img src="~/images/icons/icon-79.png"
                                                                             alt=""><span>Share</span></div>
                                                <ul class="social-links">
                                                    <li><a href="index-2.html"><i class="flaticon-facebook"></i></a>
                                                    </li>
                                                    <li><a href="index-2.html"><i
                                                                class="flaticon-instagram-logo"></i></a></li>
                                                    <li><a href="index-2.html"><i class="flaticon-youtube"></i></a></li>
                                                    <li><a href="index-2.html"><i class="flaticon-vimeo"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 deals-block">
                                <div class="deals-block-one">
                                    <div class="inner-box">
                                        <div class="title-box">
                                            <div class="icon-box"><img src="~/images/icons/icon-75.png" alt="">
                                            </div>
                                            <span class="category">Restaurant</span>
                                            <p>Expire On: 31st Oct’24</p>
                                        </div>
                                        <h3>Get 15% discount on classic cuisine restaurant.</h3>
                                        <div class="lower-box">
                                            <div class="link-box"><a href="index-2.html"><i
                                                        class="flaticon-right-arrow"></i>Read More</a></div>
                                            <div class="share-box">
                                                <div class="share-text"><img src="~/images/icons/icon-79.png"
                                                                             alt=""><span>Share</span></div>
                                                <ul class="social-links">
                                                    <li><a href="index-2.html"><i class="flaticon-facebook"></i></a>
                                                    </li>
                                                    <li><a href="index-2.html"><i
                                                                class="flaticon-instagram-logo"></i></a></li>
                                                    <li><a href="index-2.html"><i class="flaticon-youtube"></i></a></li>
                                                    <li><a href="index-2.html"><i class="flaticon-vimeo"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-four">
                        <ul class="accordion-box">
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-box"><i class="flaticon-chevron"></i></div>
                                    <h4>Eligibility to Apply</h4>
                                </div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <h5>To apply for a Credit Card,</h5>
                                        <ul class="list-item mb_35">
                                            <li>You will need to be minimum 18 years of age</li>
                                            <li>For salary person net annual income of Rs 4.5 lakh or more</li>
                                            <li>Consider a credit score between 750 and 900 to be adequate for a Credit
                                                Card.
                                            </li>
                                            <li>Location is also another factor</li>
                                        </ul>
                                        <a href="card-details.html" class="theme-btn"><span>Check Eligibility</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-box"><i class="flaticon-chevron"></i></div>
                                    <h4>Fees & Charges</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="content">
                                        <h5>To apply for a Credit Card,</h5>
                                        <ul class="list-item mb_35">
                                            <li>You will need to be minimum 18 years of age</li>
                                            <li>For salary person net annual income of Rs 4.5 lakh or more</li>
                                            <li>Consider a credit score between 750 and 900 to be adequate for a Credit
                                                Card.
                                            </li>
                                            <li>Location is also another factor</li>
                                        </ul>
                                        <a href="card-details.html" class="theme-btn"><span>Check Eligibility</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>