<section class="page-title">
    <div class="bg-layer" style="background-image: url(images/background/page-title.jpg);"></div>
    <div class="pattern-layer" style="background-image: url(images/shape/shape-32.png);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>About Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
                <li><span>About Us</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="corporate-section sec-pad-2">
    <div class="auto-container">
        <div class="sec-title centred">
            <span class="sub-title">TeckBank</span>
            <h2>My recent transactions</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 corporate-block">
                <div class="corporate-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon"><img src="images/icons/icon-227.png" alt=""></div>
                            <div class="overlay-icon"><img src="images/icons/icon-228.png" alt=""></div>
                        </div>
                        <h4>Dial Us</h4>
                        <p>For Instant Help and Friendly Service.</p>
                        <h5><a href="tel:080089612345678">0800 896 1234 & 5678</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 corporate-block">
                <div class="corporate-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon"><img src="images/icons/icon-230.png" alt=""></div>
                            <div class="overlay-icon"><img src="images/icons/icon-231.png" alt=""></div>
                        </div>
                        <h4>Mail Us</h4>
                        <p>Questions? Mail us, and we’ll handle the rest.</p>
                        <h5><a href="mailto:getsupport@example.com">getsupport@example.com</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 corporate-block">
                <div class="corporate-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon"><img src="images/icons/icon-232.png" alt=""></div>
                            <div class="overlay-icon"><img src="images/icons/icon-233.png" alt=""></div>
                        </div>
                        <h4>Address</h4>
                        <p>Your Destination for banking Service.</p>
                        <h5>14 Hackescher Markt, Mitte 10115, German.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 corporate-block">
                <div class="corporate-block-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon"><img src="images/icons/icon-234.png" alt=""></div>
                            <div class="overlay-icon"><img src="images/icons/icon-235.png" alt=""></div>
                        </div>
                        <h4>Banking Hours</h4>
                        <p>Flexible Banking Hours, Just for You.</p>
                        <h5>Mon-Sat: 9am to 5pm <span>[2nd Sat Holiday]</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrapper centred pt_30">
            <ul class="pagination clearfix">
                <li><a href="blog.html"><i class="flaticon-next"></i></a></li>
                <li><a href="blog.html" class="current">01</a></li>
                <li><a href="blog.html">02</a></li>
                <li><a href="blog.html">03</a></li>
                <li><a href="blog.html"><i class="flaticon-next"></i></a></li>
            </ul>
        </div>
    </div>
  
</section>
