@using System.Security.Claims

 

<section class="calculator-section pt_120 pb_120">
    <span class="big-text">Calculation <br />Instant</span>
    <div class="auto-container">
        <div class="sec-title centred">
            <span class="sub-title">Welcome back!</span>
            <h2>@Model.FirstName @Model.LastName</h2>
        </div>
        <div class="inner-container">
            <div class="tabs-box">
                <div class="tab-btn-box">
                    <div class="tab-btns tab-buttons clearfix">
                        <div class="tab-btn active-btn" data-tab="#tab-21"><h4>Home Loan</h4></div>
                        <div class="tab-btn" data-tab="#tab-22"><h4>Vehicle Loan</h4></div>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="tab active-tab" id="tab-21">
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                                <div class="content-box">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                                            <div class="left-content mr_30">
                                                <div class="sec-title">
                                                    <span class="sub-title">Loan Calculator</span>
                                                    <h2>Flexible <br/>Online Loan Calculator</h2>
                                                    <p>Estimate your loan payments quickly & easily with our calculator.</p>
                                                </div>
                                                <div class="lower-text">
                                                    <div class="icon-box"><img src="~/images/icons/icon-31.png" alt=""></div>
                                                    <h5>Loan Questions? Check Our <a href="faq.html">Faq’s</a> Page.</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                                            <div class="right-content">
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Amount</h5>
                                                        <h6>$500000</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>$50,000</span>
                                                            <span>$2.5 million</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="20%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Term (Years)</h5>
                                                        <h6>20</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>20 Years</span>
                                                            <span>40 Years</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="50%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Interest Rate</h5>
                                                        <h6>8.5%</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>6%</span>
                                                            <span>18%</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="33.333%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 amount-column">
                                <div class="amount-box">
                                    <div class="emi-box centred">
                                        <div class="icon-box"><img src="~/images/icons/icon-32.png" alt=""></div>
                                        <h5>Total asset value</h5>
                                        <h3>4,340,000 VND</h3>
                                        <div class="btn-box"><a href="index.html" class="theme-btn"><span>Source account</span></a></div>
                                    </div>
                                    <div class="interest-amount">
                                        <div class="single-amount">
                                            <div class="icon-box"><i class="flaticon-sparkle"></i></div>
                                            <h5>Interest Amount</h5>
                                            <span>$541,388</span>
                                        </div>
                                        <div class="single-amount">
                                            <div class="icon-box"><i class="flaticon-sparkle"></i></div>
                                            <h5>Interest Amount</h5>
                                            <span>$541,388</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab-22">
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                                <div class="content-box">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                                            <div class="left-content mr_30">
                                                <div class="sec-title">
                                                    <span class="sub-title">Loan Calculator</span>
                                                    <h2>Flexible <br/>Online Loan Calculator</h2>
                                                    <p>Estimate your loan payments quickly & easily with our calculator.</p>
                                                </div>
                                                <div class="lower-text">
                                                    <div class="icon-box"><img src="~/images/icons/icon-31.png" alt=""></div>
                                                    <h5>Loan Questions? Check Our <a href="faq.html">Faq’s</a> Page.</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                                            <div class="right-content">
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Amount</h5>
                                                        <h6>$500000</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>$50,000</span>
                                                            <span>$2.5 million</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="20%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Term (Years)</h5>
                                                        <h6>20</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>20 Years</span>
                                                            <span>40 Years</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="50%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Interest Rate</h5>
                                                        <h6>8.5%</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>6%</span>
                                                            <span>18%</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="33.333%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 left-column">
                                            <div class="left-content mr_30">
                                                <div class="sec-title">
                                                    <span class="sub-title">Loan Calculator</span>
                                                    <h2>Flexible <br/>Online Loan Calculator</h2>
                                                    <p>Estimate your loan payments quickly & easily with our calculator.</p>
                                                </div>
                                                <div class="lower-text">
                                                    <div class="icon-box"><img src="~/images/icons/icon-31.png" alt=""></div>
                                                    <h5>Loan Questions? Check Our <a href="faq.html">Faq’s</a> Page.</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 right-column">
                                            <div class="right-content">
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Amount</h5>
                                                        <h6>$500000</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>$50,000</span>
                                                            <span>$2.5 million</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="20%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Loan Term (Years)</h5>
                                                        <h6>20</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>20 Years</span>
                                                            <span>40 Years</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="50%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-block-one">
                                                    <div class="title-box">
                                                        <h5>Interest Rate</h5>
                                                        <h6>8.5%</h6>
                                                    </div>
                                                    <div class="inner-box">
                                                        <div class="text-box">
                                                            <span>6%</span>
                                                            <span>18%</span>
                                                        </div>
                                                        <div class="bar">
                                                            <div class="bar-inner count-bar" data-percent="33.333%"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 amount-column">
                                <div class="amount-box">
                                    <div class="emi-box centred">
                                        <div class="icon-box"><img src="~/images/icons/icon-32.png" alt=""></div>
                                        <h5>Monthly EMI</h5>
                                        <h3>$4,340.00</h3>
                                        <div class="btn-box"><a href="index.html" class="theme-btn"><span>Apply Online</span></a></div>
                                    </div>
                                    <div class="interest-amount">
                                        <div class="single-amount">
                                            <div class="icon-box"><i class="flaticon-sparkle"></i></div>
                                            <h5>Interest Amount</h5>
                                            <span>$541,388</span>
                                        </div>
                                        <div class="single-amount">
                                            <div class="icon-box"><i class="flaticon-sparkle"></i></div>
                                            <h5>Interest Amount</h5>
                                            <span>$541,388</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cards-style-two pb_120">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="cards-sidebar">
                    <div class="category-widget mb_30">
                        <div class="widget-title">
                            <h3>Card Types</h3>
                        </div>
                        <ul class="category-list clearfix">
                            <li><a href="cards.html">Business</a></li>
                            <li><a href="cards.html">Cashback</a></li>
                            <li><a href="cards.html">Low Interest</a></li>
                            <li><a href="cards.html">Rewards</a></li>
                            <li><a href="cards.html">Secured</a></li>
                            <li><a href="cards.html">Travel & Hotel</a></li>
                        </ul>
                    </div>
                    <div class="contact-widget">
                        <div class="inner-box" style="background-image: url(images/resource/sidebar-1.jpg);">
                            <h3>Now, Get Your Credit Card Online</h3>
                            <span class="text">Approve with in 24 Hrs.</span>
                            <a href="contact.html" class="theme-btn"><span>Apply Here</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="content-box">
                    <div class="cards-block-one">
                        <div class="inner-box">
                            <div class="cards-column">
                                <h3><a href="card-details.html">Platinum Credit Card</a></h3>
                                <figure class="image-box"><img src="~/images/resource/cards-1.jpg" alt=""></figure>
                                <div class="btn-box">
                                    <a href="card-details.html">Apply Now</a>
                                    <a href="card-details.html">Read More</a>
                                </div>
                            </div>
                            <div class="content-column">
                                <p>Explore a new world of rewards with the Platinum Credit Card.</p>
                                <h4>Features & Benefits</h4>
                                <ul class="list-item">
                                    <li><img src="~/images/icons/icon-191.png" alt="">Zero Joining and Annual Fees</li>
                                    <li><img src="~/images/icons/icon-192.png" alt="">2% Fuel Surcharge waiver HPCL Petrol Pumps</li>
                                    <li><img src="~/images/icons/icon-193.png" alt="">Multi Rewards & Lifestyle Benefits</li>
                                    <li><img src="~/images/icons/icon-194.png" alt="">5X TAT Miles on Travel</li>
                                </ul>
                                <div class="check-box-two">
                                    <input class="check" type="checkbox" id="checkbox1">
                                    <label for="checkbox1">Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-block-one">
                        <div class="inner-box">
                            <div class="cards-column">
                                <h3><a href="card-details-2.html">Millinnia Credit Card</a></h3>
                                <figure class="image-box"><img src="~/images/resource/cards-2.jpg" alt=""></figure>
                                <div class="btn-box">
                                    <a href="card-details-2.html">Apply Now</a>
                                    <a href="card-details-2.html">Read More</a>
                                </div>
                            </div>
                            <div class="content-column">
                                <p>Business it will frequently occur that pleasures have to be repudiated.</p>
                                <h4>Features & Benefits</h4>
                                <ul class="list-item">
                                    <li><img src="~/images/icons/icon-191.png" alt="">Zero Joining and Annual Fees</li>
                                    <li><img src="~/images/icons/icon-192.png" alt="">2% Fuel Surcharge waiver HPCL Petrol Pumps</li>
                                    <li><img src="~/images/icons/icon-193.png" alt="">Multi Rewards & Lifestyle Benefits</li>
                                    <li><img src="~/images/icons/icon-194.png" alt="">5X TAT Miles on Travel</li>
                                </ul>
                                <div class="check-box-two">
                                    <input class="check" type="checkbox" id="checkbox2">
                                    <label for="checkbox2">Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-block-one">
                        <div class="inner-box">
                            <div class="cards-column">
                                <h3><a href="card-details-3.html">Money Back Credit Card</a></h3>
                                <figure class="image-box"><img src="~/images/resource/cards-3.jpg" alt=""></figure>
                                <div class="btn-box">
                                    <a href="card-details-3.html">Apply Now</a>
                                    <a href="card-details-3.html">Read More</a>
                                </div>
                            </div>
                            <div class="content-column">
                                <p>Explore a new world of rewards with the Platinum Credit Card.</p>
                                <h4>Features & Benefits</h4>
                                <ul class="list-item">
                                    <li><img src="~/images/icons/icon-191.png" alt="">Zero Joining and Annual Fees</li>
                                    <li><img src="~/images/icons/icon-192.png" alt="">2% Fuel Surcharge waiver HPCL Petrol Pumps</li>
                                    <li><img src="~/images/icons/icon-193.png" alt="">Multi Rewards & Lifestyle Benefits</li>
                                    <li><img src="~/images/icons/icon-194.png" alt="">5X TAT Miles on Travel</li>
                                </ul>
                                <div class="check-box-two">
                                    <input class="check" type="checkbox" id="checkbox3">
                                    <label for="checkbox3">Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-block-one">
                        <div class="inner-box">
                            <div class="cards-column">
                                <h3><a href="card-details-4.html">Easy EMI Credit Card</a></h3>
                                <figure class="image-box"><img src="~/images/resource/cards-4.jpg" alt=""></figure>
                                <div class="btn-box">
                                    <a href="card-details-4.html">Apply Now</a>
                                    <a href="card-details-4.html">Read More</a>
                                </div>
                            </div>
                            <div class="content-column">
                                <p>Business it will frequently occur that pleasures have to be repudiated.</p>
                                <h4>Features & Benefits</h4>
                                <ul class="list-item">
                                    <li><img src="~/images/icons/icon-191.png" alt="">Zero Joining and Annual Fees</li>
                                    <li><img src="~/images/icons/icon-192.png" alt="">2% Fuel Surcharge waiver HPCL Petrol Pumps</li>
                                    <li><img src="~/images/icons/icon-193.png" alt="">Multi Rewards & Lifestyle Benefits</li>
                                    <li><img src="~/images/icons/icon-194.png" alt="">5X TAT Miles on Travel</li>
                                </ul>
                                <div class="check-box-two">
                                    <input class="check" type="checkbox" id="checkbox4">
                                    <label for="checkbox4">Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-block-one">
                        <div class="inner-box">
                            <div class="cards-column">
                                <h3><a href="card-details-5.html">Diners Club Privilege Card</a></h3>
                                <figure class="image-box"><img src="~/images/resource/cards-5.jpg" alt=""></figure>
                                <div class="btn-box">
                                    <a href="card-details-5.html">Apply Now</a>
                                    <a href="card-details-5.html">Read More</a>
                                </div>
                            </div>
                            <div class="content-column">
                                <p>Business it will frequently occur that pleasures have to be repudiated.</p>
                                <h4>Features & Benefits</h4>
                                <ul class="list-item">
                                    <li><img src="~/images/icons/icon-191.png" alt="">Zero Joining and Annual Fees</li>
                                    <li><img src="~/images/icons/icon-192.png" alt="">2% Fuel Surcharge waiver HPCL Petrol Pumps</li>
                                    <li><img src="~/images/icons/icon-193.png" alt="">Multi Rewards & Lifestyle Benefits</li>
                                    <li><img src="~/images/icons/icon-194.png" alt="">5X TAT Miles on Travel</li>
                                </ul>
                                <div class="check-box-two">
                                    <input class="check" type="checkbox" id="checkbox5">
                                    <label for="checkbox5">Add to Compare</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>