<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>TeckBank</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="~/css/font-awesome-all.css" rel="stylesheet" />
    <link href="~/css/flaticon_flexibank.css" rel="stylesheet" />
    <link href="~/css/owl.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/elpath.css" rel="stylesheet" />
    <link href="~/css/color1.css" id="jssDefault" rel="stylesheet" />
    <link href="~/css/odometer.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>
<body>

@RenderBody()

<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/owl.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/validation.js"></script>
<script src="~/js/jquery.fancybox.js"></script>
<script src="~/js/appear.js"></script>
<script src="~/js/isotope.js"></script>
<script src="~/js/parallax-scroll.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/scrolltop.min.js"></script>
<script src="~/js/odometer.js"></script>
<script src="~/js/nav-tool.js"></script>
<script src="~/js/script.js"></script>

</body>
</html>
