@{
    Layout = "_Layout1";
}
@model CP2496H07Group1.Dtos.LoginViewModel



<div class="container-xxl position-relative bg-white d-flex p-0">
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="" class="">
                            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>TeckBank</h3>
                        </a>
                        <h3>Sign In</h3>
                    </div>
                    <form asp-area="Admin"
                          asp-controller="Teckbank_c9f1d0ea64a04a69a5bda3b12f5e92cf"
                          asp-action="Login"
                          method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" id="floatingInput"
                                   placeholder="Name@example.com"
                                   required/>
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="Password" type="password" class="form-control" id="floatingPassword"
                                   placeholder="Password"
                                   required/>
                            <label for="floatingPassword">Password</label>
                        </div>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <div>@error.ErrorMessage</div>
                                }
                            </div>
                        }

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
