@model CP2496H07Group1.Models.Faq

@{
    ViewData["Title"] = "Create FAQ";



    Layout = "_Layout";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Create FAQ</h6>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="row mb-3">
                        <label asp-for="Question" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Question" class="form-control" />
                            <span asp-validation-for="Question" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Answer" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="Answer" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
